[2018-05-20 20:39] tomplus opened #5 "Configure Travis"
Configure Travis to run tests.

[2018-05-20 20:53] tomplus opened #6 "E2E tests"
Prepare E2E tests based on https://github.com/kubernetes-client/python/tree/master/kubernetes/e2e_test

[2018-05-20 20:56] tomplus opened #7 "Fix and update tests"
Fix existing tests, prepare tests for new modules: stream, watch.

[2018-05-20 20:59] tomplus opened #8 "Check GKE"
Check it the library can connect to K8s on GKE.

[2018-05-26 00:37] tomplus opened #12 "stream doesn't support multichannel communication"
Current implementation of web-socket doesn't support multichannel communication.

Now it's impossible to "talk" to a pod like sending a command, reading output, send another command ... in the same connection.

[2018-05-26 17:30] tomplus commented on #6
Tests adopted.

[2018-05-26 17:30] #6 closed

[2018-06-08 06:08] olitheolix commented on #8
What kind of help exactly are you looking for?

I cloned the repo into a Python 3.6 container on GKE with a service account to access the API, changed authentication to ` incluster_config.load_incluster_config()` and it worked like a charm.

[2018-06-08 06:17] olitheolix opened #14 "Incompatible Urllib warning during installation"
When I install the requirements file with `pip install -r requirements.txt` I get this error:
[code]
Everything still works and all tests pass but I wonder if you know how to solve this one.

[2018-06-08 06:33] olitheolix opened #15 "Latest PyPI release still contains a debug print statement"
It is the `print` statement in `Watch.next` that 842428b removed. Can you release a new version, please?

[2018-06-08 23:38] tomplus commented on #8
Thanks for asking. I don't use GKE in my daily work so I have a problem with test it.  Could you try to connect outside your cluster too ? It should work but authentication to Google API uses synchronous library [google-auth](https://github.com/GoogleCloudPlatform/google-auth-library-python) and the ioloop will be blocked.

[2018-06-08 23:46] tomplus opened #17 "remove dependenecies to synchronous libraries"
Some libraries from `requirements.txt` are synchronous and should be removed.

[code]

- `urllib3` is uses in e2e tests to check apiserver and it can be easily replaced by aiohttp (#14)
- `requests, *auth*` is used to authorize to GKE (#8)

[2018-06-08 23:58] olitheolix commented on #8
I am not sure what you mean by "outside your cluster". Do you mean downloading the kubeconfig file for the GKE cluster to my local machine and connect from there? If so, yes, that works just fine as well.

[2018-06-09 00:06] tomplus commented on #15
Sure, I've just released `kubernetes_asyncio 1.0.0a3`.

[2018-06-09 00:06] #15 closed

[2018-06-18 01:23] olitheolix opened #21 "Consider moving this repo to https://github.com/aio-libs"
This repository is difficult to find even if you know it exists. I think this is a pity because async support is a useful feature for a Kubernetes client library.

Therefore, would it make sense to move this repo into the [aio-libs](https://github.com/aio-libs) fold to give it more visibility and traction? Maybe also rename it to `aiokubernetes` for consistency with how many other popular async li

[2018-06-20 21:37] tomplus commented on #21
Sounds good but ... this library is a kind of extension of the official library (https://github.com/kubernetes-client/python). My plan is to show that it works, it's needed and eventually move this to https://github.com/kubernetes-client/ as a officially supported asynchronous version of python client.

If it doesn't happen I will follow your suggestion. Thanks.

[2018-06-21 04:30] olitheolix commented on #21
Fair enough. Once you merge #22 and release a new version on PyPi I will deploy it for non-critical parts in our production systems to see how it fares when running for prolonged time periods. Thank you for making this library!

[2018-06-25 02:57] olitheolix opened #25 "Traceback in debug mode due to pending aiohttp connections"
From what I have found out so far this is because `RESTClientObject` relies on its `__del__` method to be called before the event loop terminates. This is flakey since Python makes [no guarantee](https://docs.python.org/3/reference/datamodel.html#object.__del__) to call that method at all.

A quick way to reproduce the problem on my Python 3.6 machine is to add this test to `test_watch.py` and run

[2018-06-26 21:44] tomplus commented on #25
Thanks! I like your idea of using the context manager or `shutdown` method. It will be predictable and give a possibility to control closing connections. So, it has to be done in swagger-codegen first and adopted here.

`__del__` is not the best solution for sure, but it is simple and works quite well. The problem is with ending programs when we these methods may not be called at all or may be cal

[2018-06-30 22:11] #17 closed

[2018-07-25 13:49] eranreshef opened #29 "problems with long-living watch"
I was trying to follow one of the basic [examples](https://github.com/tomplus/kubernetes_asyncio/blob/master/examples/example2.py) but replacing the `list_namespaces` func with `read_node`. The major difference between the 2 is that `read_node` requires a `name` argument.
The code looks like this:
[code]

The run output is:
[code]

Is this a bug or am I doing something wrong?

[2018-07-25 23:02] tomplus commented on #29
In your case `stream()` adds an extra argument `watch=True` to the method but [read_node](https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/docs/CoreV1Api.md#read_node) doesn't support watching. It's a limit of K8s API - only collections of objects can be watched (for example [list_nodes](https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/docs/C

[2018-07-26 05:46] eranreshef commented on #29
Thanks!

[2018-07-26 05:49] eranreshef commented on #29
Another question please (since I got your attention).
When I call `list_nodes` without setting a `timeout_seconds`, after a couple of minutes I get:
[code]

[2018-07-26 23:39] tomplus commented on #29
Yes, API server has its own timeout. `Watch` should manage with it. I'll prepare fix for it over the weekend.

[2018-07-28 23:02] tomplus opened #31 "add Azure support"
The latest version of https://github.com/kubernetes-client/python supports Azure AKS.

[2018-07-28 23:51] tomplus commented on #29
@eranreshef fixed, please upgrade to 1.0.0b3. Thanks.

[2018-07-30 15:32] bpicolo opened #32 "aiohttp client constructor is non-functional if verify_ssl=False is used"
Currently the library passes both verify_ssl and ssl_context to the [TCPConnector](https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/client/rest.py#L67), but the TCPConnector in recent aiohttp versions does not support having both.

[code]

[2018-07-30 16:59] tomplus commented on #32
I can confirm it - aiohttp >= 3.x has different and not compatible SSL parameters. As a workaround please use aiohttp==2.3.10

Thanks.

[2018-07-30 18:44] bpicolo commented on #32
@tomplus  actually busted in 2.3.10 as well. Seems there's no valid version given the current pin

[2018-07-30 18:56] tomplus commented on #32
You are right, 2.3.10 also has a similar constrain :( so now it's impossible to connect to a cluster with disabled ssl verification.

[2018-07-30 19:13] #21 closed

[2018-07-31 18:32] #32 closed

[2018-07-31 18:53] tomplus commented on #32
@bpicolo the latest version contains your fix, thanks.

[2018-08-01 17:13] bpicolo opened #35 "Add OIDC auth support"
Seems this exists in [python-base](https://github.com/kubernetes-client/python-base/blob/master/config/kube_config.py) now, though their version is not entirely functional (story of my life with every open id implementation in existence 😞  )

I am currently working on a pr for this

[2018-08-01 22:49] tomplus commented on #35
Yes, OIDC is missing. Thanks for working on this issue.

[2018-08-06 08:40] eranreshef commented on #29
It seems that now, when calling watch with no timeout value, I stop receiving events after ~20 minutes.
I created one watch call with no timeout value, and a infinite loop of watch calls with `timeout_seconds=30` . The first watch stops receiving events after ~20 minutes and the watch in loop keeps receiving events.

[2018-08-15 23:07] #29 closed

[2018-08-21 20:40] #35 closed

[2018-08-31 21:04] tomplus commented on #31
The official library uses [adel](https://github.com/AzureAD/azure-activedirectory-library-for-python) - AD library for python which is currently synchronous (https://github.com/AzureAD/azure-activedirectory-library-for-python/issues/93). First we should extend this library, find a replacement or implement some basic behavior here.

[2018-09-06 20:28] tomplus opened #40 "porting exec-plugins support from kubernetes-client/python-base"
New type of authentication provider was implemented in kubernetes-client/python-base: https://github.com/kubernetes-client/python-base/pull/75 and it has to be implemented here too.

[2018-09-24 17:00] judepereira opened #42 "Example in the README will not run because of "pods is forbidden""
I'm running the example in the README for the repo, and I cannot get it to work:
[code]

If the client is supposed to read the default kube config (which I think it does), it somehow cannot authenticate correctly. Is this a bug? Or is my usage incorrect?

[2018-09-24 20:37] tomplus commented on #42
The example uses a method `list_pod_for_all_namespaces` which is equivalent of command:

[code]
Try to check if kubectl can list all pods. It looks like your user `system:anonymous` doesn't have enough permissions. You can try to use method `list_namespaced_pod("your-namespace")` or grant permissions to the user (RBAC).

[2018-09-25 04:56] judepereira commented on #42
Yes, I can run `kubectl get pods --all-namespaces` in the terminal correctly.

Why is it using `system:anonymous`? Shouldn't it use whatever credentials are there via `~/.kube/config`?

[2018-09-25 19:19] tomplus commented on #42
It seems like the bug. Could you provide some details from `~/.kube/config`? of course with obfuscated certs, addresses etc.

[2018-10-01 21:35] tomplus commented on #42
Looks good. Is it possible that one of the extra clusters from you kubeconfig has the same name? There was such issue in the official library and probably it's not ported yet https://github.com/kubernetes-client/python/issues/445 Could you check if the official synchronous client has the same problem? Thanks.

[2018-10-02 04:55] judepereira commented on #42
I ran [this example](https://github.com/kubernetes-client/python#example) in a clean venv, and it worked. I also checked if I had any duplicates, and I do not have any.

[2018-10-02 04:55] judepereira commented on #42
Any way I can turn on extreme debugging in your client?

[2018-10-03 21:52] tomplus commented on #42
I'm afraid there are not debug logs. I've compared these libraries and I can't find any significant differences...

Can I try to recreate your environment? Is `docker-for-desktop` a K8s cluster started by docker on Windows/MacOs?

[2018-10-05 06:07] judepereira commented on #42
Yes, it's a k8s cluster started by docker on macOS 10.13.6.

[2018-10-06 22:54] #40 closed

[2018-10-06 23:52] tomplus commented on #42
Unfortunately I don't have access to macOS. I added  debug logs (#45) which may help. Could you check this code?

[code]

[2018-10-07 16:30] judepereira commented on #42
@tomplus Here's what the output is:
[code]

[2018-10-08 12:29] tomplus commented on #42
I've check code again and it looks like the problem is caused by this settings `insecure-skip-tls-verify: true`. Could you try to remove this flag from your kubeconfig?

The verify_ssl, ssl_context, fingerprint and ssl parameters are mutually exclusive in aiohttp, so this library won't pass certs if you unset verify_ssl... I can change the behavior after your confirmation. If certs are provider th

[2018-10-08 12:40] judepereira commented on #42
@tomplus We're making some progress here - after removing `insecure-skip-tls-verify`, I can see that the client is trying to use the cert, but fails because:
[code]
Perhaps the interpretation of that flag is incorrect in the library? `insecure-skip-tls-verify` should be respected, however, when verifying the validity of the TLS certificate, it's okay to trust it (as the root CA for that will not b

[2018-10-08 22:14] #42 closed

[2018-10-08 22:16] tomplus commented on #42
Fixed! Now this flag impacts on server verification only. Thanks for your patience :)

[2018-10-09 05:28] judepereira commented on #42
Thank you so much @tomplus! I can verify that it's working well now.

[2018-12-03 07:00] yuvipanda opened #52 "ApiClient creates new threadpool with number of active threads even though it isn't used"
In https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/client/api_client.py#L69, a new ThreadPool is created per ApiClient. A lot of other objects (such as Watch) create an ApiClient per use, leading to lots of ThreadPools being created. ThreadPools aren't free - on my machine, merely instantiating a ThreadPool object (similar to what's happening here) starts *8* threads.

[2018-12-03 07:00] yuvipanda commented on #52
Also, <3 thank you very much for this library!

[2018-12-03 22:58] tomplus commented on #52
@yuvipanda Thanks. I'm happy to see that this library is useful for you.

You are right, in an asynchronous world these threads become obsolete but I keep it for compatibility reasons. I can port this https://github.com/swagger-api/swagger-codegen/pull/8061 - so the thread pool will be created on demand (probably never). WDYT?

[2018-12-04 01:05] yuvipanda commented on #52
@tomplus yes, that sounds awesome :) would be lovely to renew push to get that merged too.

[2018-12-09 17:36] tomplus commented on #52
It's been fixed in the latest version - v8.0.1.

[2018-12-09 17:36] #52 closed

[2018-12-10 19:29] yuvipanda opened #55 "Documentation on regenerating client"
I haven't quite found good docs on how to regenerate the client. Would you be able to point me to them, and/or put links in a CONTRIBUTING.md file?

[2018-12-12 21:32] tomplus commented on #55
`CONTRIBUTING.md` was copied from the official repo. I'm afraid that the regenerating process are not described. I use this script https://github.com/tomplus/kubernetes_asyncio/blob/master/scripts/update-client.sh and it works quite nicely:

I'll update it soon.

[2019-02-01 20:21] mrocklin opened #59 "Use of ssl_context= keyword raises DeprecationWarnings"
I get the following deprecation warning when using this library.

[code]

Swapping out `ssl_context=` for `ssl=` works fine when I apply the change locally.  However I'm not sure how best to enact change in this repository, given that parts (all?) of it is generated.

cc @yuvipanda

[2019-02-01 22:05] tomplus commented on #59
Yes, this part is generated by swagger-codegen. Now I'm working on switching to the openapi-generator (#58). It's fixed there in the beta release so this warning will be removed eventually.

[2019-02-15 08:48] hubo1016 opened #60 "Calling watch.stop() does not close the response correctly"
https://github.com/tomplus/kubernetes_asyncio/blob/d57e9e9be11f6789e1ce8d5b161acb64d29acf35/kubernetes_asyncio/watch/watch.py#L123-L124

It just raises an exception to exit.

I think we should add async context manager support for `Watch` objects, so it closes the response in `__aexit__`.

[2019-02-22 20:48] #60 closed

[2019-02-27 17:12] HaraldGustafsson opened #62 "field_selector for custom objects missing"
Noticed that the field_selector parameter is missing for listing custom objects `list_cluster_custom_object` and `list_namespaced_custom_object` in `custom_objects_api`. See this issue for when it was added to Kubernetes.
[https://github.com/kubernetes/kubernetes/issues/51046](https://github.com/kubernetes/kubernetes/issues/51046)

It should support field selector for name and namespace (potential

[2019-02-28 20:49] tomplus commented on #62
Thanks for spotting this. All clients are affected and I've just added a PR https://github.com/kubernetes-client/gen/pull/106 to add the parameter.

[2019-03-11 16:07] HaraldGustafsson opened #63 "Generic client"
Is there any way of using a generic client with kubernetes_asyncio? Similar to for example what kubernetes federated v2 have in their client code?

https://github.com/kubernetes-sigs/federation-v2/blob/9c6ce26ea02d103572b69aa09acd1d51ffe29447/pkg/kubefed2/enable/enable.go#L243

https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/client/generic/genericclient.go

https://github.com/kube

[2019-03-12 15:28] tomplus commented on #63
You can use the api_client.call_api but some work have to be done to prepare a request. Please take a look at the function for example "create_deployment": https://github.com/tomplus/kubernetes_asyncio/blob/5e927afb4941e35590b80032637163f2f3cc9ac0/kubernetes_asyncio/client/api/apps_v1_api.py#L377

Another option can be generating functions and models (`client/api/*`, `client/models/*`) from spec b

[2019-03-12 16:09] HaraldGustafsson commented on #63
I managed to create a method to call the call_api, by looking at one of the others. I think I have to use the argument `_preload_content = False` since otherwise it will fail due to no model exist, but that is a minor issue doing the json load in my wrapping function instead.

I have not found any swagger for federation v2, I guess it is due to being so new and still in alpha.

[2019-03-24 09:05] tomplus commented on #62
It's been fixed in the version v9.0.0.

[2019-03-24 09:05] #62 closed

[2019-03-24 09:06] tomplus commented on #59
It's been fixed in the version v9.0.0.

[2019-03-24 14:32] mrocklin commented on #59
Thanks!

On Sun, Mar 24, 2019 at 5:06 AM Tomasz Prus <notifications@github.com>
wrote:

[2019-03-25 07:48] hubo1016 opened #65 "Breaking change: "body" becomes a keyword-only argument in delete operations since v9.0.0"
Not a big deal, just reporting.

Users must modify
`delete_xxx(name, namespace, options)`
to
`delete_xxx(name, namespace, body=options)`
in v9.0.0

[2019-03-25 08:20] tomplus commented on #65
@hubo1016 Thanks for spotting this.

This difference was introduced in the official spec: https://github.com/kubernetes/kubernetes/pull/70032

[2019-03-29 09:54] mickours opened #67 "RuntimeError: Event loop is closed in __del__ of rest client"
When running a REST client with
`asyncio.wait(tasks, return_when="FIRST_EXCEPTION")`
I get an unexpected exception the `__del__` method of the REST client that makes my program fails.

The exception is the pool manager closing  on a closed loop. Here is a curated stack trace:
[code]
Seems related to #25 but I'm not sure how I can workaround this, any insight?

[2019-03-29 22:14] tomplus commented on #65
I've added a notice about it to the changelog file.

[2019-03-29 22:14] #65 closed

[2019-03-29 22:33] tomplus commented on #67
I can't reproduce this error. Can you provide more details? Does it occur when your program is exiting?

[2019-03-30 09:11] mickours commented on #67
Sorry about the lack of details, I wrote this too quickly... I'll give you a minimum working example on monday with more details.

[2019-04-01 19:34] mickours commented on #67
Seems to be a transient failure due to my flaky network, sorry about that.
Thank you for your time, I'll reopen this if I found a reproducible error case.

[2019-04-01 19:34] #67 closed

[2019-04-01 19:49] tomplus commented on #67
No problem. I'm glad to hear that it works.

[2019-04-02 16:11] HaraldGustafsson opened #68 "Custom object json-patch"
I noticed that most patch calls support all 3 patch types (json-patch, merge-patch, strategic-merge-patch), but the patch calls for custom objects (including for status and scale sub-resources) only support merge-patch.

For example compare `consumes` for the custom object from the swagger.json file:

      "patch": {
        "responses": {
          "200": {
            "description": "OK",

[2019-04-04 22:55] rayluo commented on #31
For the record, ADAL Python (and its cousin MSAL Python) supports token cache behavior. It allows you to reuse a token so that most of the time you don't actually need to send out any network call.

[2019-04-13 11:23] #55 closed

[2019-05-17 03:40] futianshi1314 opened #72 "connect_get_namespaced_pod_exec(tty=True)"
I want to develop a webshell, so i used connect_get_namespaced_pod_exec(tty=True), official py client return a websocket,  this return null, how i used ?
thanks

[2019-05-17 03:42] #72 closed

[2019-05-17 03:42] futianshi1314 commented on #12
I know that i will close the issues...

[2019-05-17 03:43] futianshi1314 commented on #12
https://github.com/tomplus/kubernetes_asyncio/issues/12   closed

[2019-05-17 03:44] futianshi1314 commented on #72
I know it can multi channel

[2019-05-25 12:28] FlorianLudwig opened #73 "add example streaming logs via websocket"
Since the documentation is rather sparse some more examples would be welcome.  For example how to retrieve logs via stream.

[2019-05-27 06:10] tomplus commented on #73
There is a dedicated example to show how to get logs from pods: https://github.com/tomplus/kubernetes_asyncio/blob/master/examples/tail.py

[2019-06-06 13:16] tomplus commented on #68
As you checked, patching custom objects supports `application/merge-patch+json` only so I guess API Server (or CRD) rejects a request with different type of merge, doesn't it?

[2019-06-06 13:29] HaraldGustafsson commented on #68
When I tried to patch with json patch on a custom object using kubectl it worked, so assuming that the api server handles it. We should leave out the strategic patch since that does not make sense for a custom object, my wrong, at least until strategic patching functionality can be specified in a CRD.

So I think that both json and merge patch should be specified in the swagger file.

[2019-06-19 08:35] HaraldGustafsson opened #74 "RESTClientObject maxsize"
Hi,

I finally realized what the issue was in my program using kubernetes asyncio that made it have a slow progress. It is the maxsize in RESTClientObject is set to only 4. In some scenarios I use the same client for many watch operations, but they would be competing over the 4 available connections. Could we either remove the limit (default is 100 in aiohttp) or make it possible to set in the kub

[2019-07-04 07:44] PidgeyBE opened #75 "No async utils.create_from_yaml() alternative"
Hey!

I was trying to convert my python code using the `kubernetes` package to async using the `kubernetes-asyncio` package. The only functionality I'm missing is the `kubernetes.utils.create_from_yaml()`. It doesn't work with asynchronous clients.

I'm talking about this: https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py

I'll try to create a PR.

[2019-07-04 08:09] PidgeyBE commented on #75
https://github.com/tomplus/kubernetes_asyncio/pull/76

[2019-07-06 09:41] TrueBrain opened #77 "Watching with specified resource_version"
Currently when you start a `stream()` (on a `Watch()`) with a specific `resource_version`, the retry after a timeout fails if no new events arrived.

This has been solved in `kubernetes-client` with:
https://github.com/kubernetes-client/python-base/commit/2d69e89dab7134186cbcdaf82381ab6295c6c394

Having this added to `kubernetes_asyncio` would be really useful, although a workaround is also pretty

[2019-07-07 21:39] tomplus commented on #75
@PidgeyBE thanks for working on this!

[2019-07-07 21:44] tomplus commented on #77
@TrueBrain Thanks for spotting this. Please try to add it if you can. I'll help you with tests.

[2019-07-17 16:07] PidgeyBE commented on #75
You're welcome, I'll try to make the changes you've requested!

[2019-08-23 10:15] xxxbobrxxx opened #78 "Request method change in POST queries"
Hi!
Methods like CoreV1Api.connect_post_namespaced_service_proxy which must produce POST requests in fact produces 2 requests:

- POST to .../proxy Kubernetes API returns 301
- GET to .../proxy/

This caused by aiohttp behaviour, see links:

- https://github.com/aio-libs/aiohttp/issues/3578
- https://stackoverflow.com/questions/42136829/whats-the-difference-between-http-301-and-308-status-codes

I

[2019-08-24 21:11] tomplus commented on #78
@xxxbobrxxx Thanks for opening the issue.

It looks like the K8s API server should return 308 in this case. Could you report this in the official repository?

As a workaround you can try to use the method `connect_post_namespaced_pod_proxy_with_path` with `path=""`. It'll send a request with the trailing slash.

BTW, I'm curious what you want to do. This part of K8s api is not well described, is i

[2019-08-25 07:40] xxxbobrxxx commented on #78
For your interest:
I develop software which discovers service resources and send data to it. Do debug it outside Kubernetes cluster easier to develop layer to send requests using Kubernetes API.
Also, CoreV1Api.connect_post_namespaced_service_proxy* methods does not allow to send POST data, but Kubernetes API can accept it because /proxy API url transparently resends requests to services.

[2019-08-30 21:58] #73 closed

[2019-08-30 22:15] tomplus commented on #75
The PR is already merged, thanks again.

[2019-08-30 22:15] #75 closed

[2019-09-09 10:05] PidgeyBE commented on #75
Is there a new release with this enhancement coming any time soon?

[2019-09-15 21:19] tomplus commented on #75
Yes, I'm going to release the new version in this week.

[2019-09-16 23:24] tomplus commented on #75
@PidgeyBE I've just release the library. Thank you for your contribution.

[2019-09-16 23:25] tomplus commented on #68
Fixed in the latest release - v10.0.0

[2019-09-19 13:46] HaraldGustafsson commented on #68
Hi, seems to have got some issues now.

    Reason: Unsupported Media Type
    HTTP response headers: <CIMultiDictProxy('Content-Type': 'application/json', 'Date': 'Thu, 19 Sep 2019 12:24:53 GMT', 'Content-Length': '263')>
    HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"the body of the request was in an unknown format - accepted media types in

[2019-09-20 23:47] tomplus commented on #68
Thanks, definitely it needs to be fixed.

[2019-10-18 12:19] mickours commented on #25
Did you manage to make this work? I'm really interested in a graceful shutdown method. I'm not sure to understand. Does this depends on an external project API change or can be done in this one?

[2019-10-24 19:46] tomplus commented on #25
@mickours Could you show your use case? It it related to Watch or Stream ?

[2019-12-30 06:59] sepulworld opened #87 "example1.py ssl_context error"
Hi! I'm testing out this library and ran into an error with example1.py

Python3

pip list
[code]

K8s client / server
[code]

python example/example1.py
[code]

Running a non asyncio example script with python-client library works fine
[code]

Curious, if something stands out as an issue here.

[2019-12-30 20:41] sepulworld commented on #87
I think I found the issue, still testing though. my install aiohttp is too new and ssl_context has been removed as an initializer variable.

[2019-12-30 20:47] sepulworld commented on #87
Yep, example works fine with aiohttp 3.6.2

https://github.com/aio-libs/aiohttp/releases - looks like they have a new alpha release live with depreciated inputs removed

[2019-12-30 20:47] #87 closed

[2019-12-30 21:41] tomplus commented on #87
Thanks for your investigation. I'll add a condition to the `requriements.txt` to avoid version >=4 for a while and fix it when a stable version appears.

[2019-12-31 04:16] sepulworld commented on #87
Sounds good! I put in the PR for the requirements.txt update for you.

[2020-01-14 07:31] tatsuya0619 opened #90 "`client.Configuration.proxy` doesn't work."
I was trying to use this library with http proxy.

However, if I set the 'proxy' configuration(like below script) and run the program, `ka.client.CoreV1Api()` raises TypeError.

This is the script(almost same as `README.md` sample):
[code]

The output is:
[code]

I think `proxy` argument should be passed to `aiohttp.ClientSession.request` instead of `aiohttp.ClientSession`.

I could run the above

[2020-01-14 21:28] #77 closed

[2020-01-14 21:37] tomplus commented on #90
@tatsuya0619 Thanks. It looks good to me but it has to be fixed in the generator template:

https://github.com/OpenAPITools/openapi-generator/blob/50f7e14a9974cce15aaaaf5b3c4c48f079613b38/modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache#L70

Could you create a PR to the openapi-generator? I can help with tests, what kind of errors have you got?

[2020-01-15 15:08] WouldYouKindly opened #91 "Don't try to close aiohttp connection pool inside `__del__`"
Hi! Thanks for a great library.

There is a flaw though: one really should not perform async cleanup inside `__del__`. This code may cause exceptions at shutdown: https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/client/rest.py#L84

This is because `__del__` may be called after the event loop is closed.

The preferred way is to use an async context manager or add an API

[2020-01-15 21:00] tomplus commented on #91
Thanks. I wasn't aware of that the event loop can close before program ends.
It also explains this issue: https://github.com/tomplus/kubernetes_asyncio/issues/67
I hope it can bit only during closing an app.

[2020-01-16 08:27] WouldYouKindly commented on #91
Well, it depends on when you close the loop. If you close and open loops during the application runtime, you may run into issues.

Do you plan on fixing this? Or will you accept the PR? I'm not sure which parts are generated and which are hand-written though. Could you provide the command which is used to generate stubs?

[2020-01-17 09:30] tatsuya0619 commented on #90
I'm sorry, but I don't have time now to create a PR to the openapi-generator repo.

And about the pytest error, my words are incorret.
Surely, pytest passed when I don't change the test code.
However, modified pytest fails at `kubernetes_asyncio/e2e_test/test_client.py`.

I modified pytest code like below to communicate with Kubernetes cluster via http proxy:
[code]

I run pytest on GKE via http p

[2020-01-18 02:57] ntextreme3 commented on #90
Also just noticed this, opened https://github.com/swagger-api/swagger-codegen/issues/9995 on generator repo.

[2020-01-21 21:13] tomplus commented on #91
This part is generated by openapi-generator - https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache#L80

And to re-generate this library you can use this script:
https://github.com/tomplus/kubernetes_asyncio/blob/master/scripts/update-client.sh

Feel free to fix it if you want. I'll accept the PR and I can help with

[2020-01-21 21:20] tomplus commented on #90
Thanks for describing the issue. I'll work on it later.

[2020-02-06 14:14] mickours commented on #59
The problem is still present in the current version (10.0.1):
[code]

[2020-02-06 14:26] tomplus commented on #59
@mickours could you check the version of aiohttp? The latest version of the library can print such warnings: https://github.com/tomplus/kubernetes_asyncio/issues/87 Thanks.

[2020-02-06 15:49] mickours commented on #59
Thanks for the quick answer!

I'm using aiohttp 3.5.4

It seems to come from this line:
https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/client/rest.py#L69

[2020-02-06 15:57] tomplus commented on #59
Thanks, confirmed, reopen the issue.

[2020-02-24 16:43] aha2140 opened #93 "windows_options are not supported"
We are trying to create Pods with Dask-Kubernetes (https://github.com/dask/dask-kubernetes) which uses kubernetes_asyncio to talk to k8s. We noticed that V1PodSecurityContext does not yet support windows_options. As a a result, our Pods can't use Windows-specific security options.

- Is there an upcoming release where this can be addressed?
- Is there a workaround we can use short of re-generating

[2020-02-24 21:58] tomplus commented on #93
I'm working on preparing the next release, I hope I'll finish it in this week.

[2020-02-25 14:36] aha2140 commented on #93
Perfect, thanks!

[2020-02-26 23:30] tomplus commented on #93
It should be already fixed in the latest version of the library.

[2020-02-26 23:30] #93 closed

[2020-02-26 23:43] tomplus commented on #74
Based on your idea, in the latest version of the library the limit max-size=4 has been removed and default aiohttp is taken. It can be also configured from the Configuration class.
Thanks for reporting this issue.

[2020-02-26 23:43] #74 closed

[2020-02-26 23:44] tomplus commented on #59
It's fixed in the latest version of the library.

[2020-02-26 23:44] #59 closed

[2020-02-27 03:32] mrocklin commented on #59
I'm glad to hear it!  Thank you for tracking this @tomplus .

[2020-02-27 20:31] mickours commented on #59
Thanks a lot! 👍

[2020-02-29 20:06] JacobHenner opened #95 "Reconnect watcher if Kubernetes sends an empty response"
In watch.py, `next()` is set to stop iteration if the k8s server provides an empty response (i.e. when the server timeout expires). I believe this is undesirable.

https://github.com/tomplus/kubernetes_asyncio/blob/91b2c41eedd282d9ebc059377fb7f207e220133d/kubernetes_asyncio/watch/watch.py#L145-L150

Instead, the logic should be similar to the logic in the previous `except` block, which handles `as

[2020-03-10 20:07] playground-julia opened #97 "Watch doesn't support methods with "follow" parameter"
In the python kubernetes base library, watch was updated with this commit: [Making watch work with read_namespaced_pod_log](https://github.com/kubernetes-client/python-base/commit/8e6f0435a38e24aac700d9ebac700bdf6138ba8c)

I believe the same changes could be applied to this library to add the compatibility of the "follow" parameter.

[2020-03-13 23:32] #97 closed

[2020-04-13 22:01] tomplus commented on #91
Hi @WouldYouKindly The issue is already fixed in 11.2.0. There are the context manager and the `close()` method to explicit close client connections.

[2020-04-13 22:01] #91 closed

[2020-04-13 22:03] tomplus commented on #25
The issue is already fixed in 11.2.0. There are the context manager and the `close()` method to explicit close client connections.

[2020-04-13 22:03] #25 closed

[2020-04-13 22:23] tomplus commented on #78
Please report this issue in the Kubernetes repository.

[2020-04-13 22:23] #78 closed

[2020-04-17 09:01] nikiladonya opened #102 "watcher.stream call failed in pods"
If i execute some code in pod of my cluster:
[code]

I see exception:
[code]
But if i load config by call `await config.load_kube_config()` and run script from cluster host, everything works

[2020-04-17 10:00] tomplus commented on #102
It looks like an error/exception is not properly handled by watch/stream - I'm checking it later.

Because it works externally I guess the RBAC blocks your query. Try to configure ClusterRole/Binding to allow such query (is usually denied by default). Please compare with this example https://github.com/tomplus/kubernetes_asyncio/blob/master/examples/in_cluster_config.py

[2020-04-17 10:41] nikiladonya commented on #102
@tomplus nope, RBAC is ok, i checked
but i have found fast solution - i created watcher with "return_type" kwarg:
[code]
everything works

[2020-04-18 01:14] tomplus commented on #102
@nikiladonya I can't reproduce this issue. Your first example works for me from a pod too - proper return_type is calculated. The calculation use method doc strings so it shouldn't be dependent on a response or environment. Which version of K8s and the library do you have?
(In the second example you ask about list_persistent_volume not _claim).

[2020-05-14 01:21] andycoates opened #103 "ERROR:asyncio:Unclosed client session"
Hi,

If I use `example4.py` but don't see any changes (or set `timeout_seconds=10` to force an early close) I see exceptions/errors after the initial list of events:

[code]
I'm using python 3.7.5 with:
[code]

I saw a recent issue where I think the context manager was changed to `close()` in 11.2.0, but it seems `aiohttp.ClientSession` isn't actually closing properly?

[2020-05-19 22:32] tomplus commented on #103
Hi @andycoates

Thanks for reporting this issue.

I dig into it and I've found:

1. example4 should use the context manager to close sessions properly
[code]

2. watch() creates instance of the ApiClient but the instance is not closed and aiohttp reports one more warning.

I'll fix it in the next release.

[2020-06-06 14:29] tomplus commented on #31
I'm afraid is not enough to build full asynchronous applications.

[2020-06-06 19:56] rayluo commented on #31
To clarify:

* The [MSAL's token cache](https://msal-python.readthedocs.io/en/latest/#msal.SerializableTokenCache) I mentioned earlier, is NOT about asynchronous in itself. But, given that tokens are already cached, actual authentication/authorization requests would become very infrequent by its nature. For example, an access token would typically be valid for 1 hour. That hints, an app utilize an

[2020-06-06 20:45] tomplus commented on #31
The second option sounds good to me. Thanks for clarifying possibilities.

[2020-06-06 22:57] tomplus commented on #102
I'm closing it. Please reopen if you still encounter this issue.

[2020-06-06 22:57] #102 closed

[2020-06-07 10:35] #103 closed

[2020-07-21 13:02] gcarrarom commented on #68
Hi, I'm running into this issue now. Any quick way of working around the "media type not supported" error while your fix is not yet merged?

[2020-07-21 22:51] tomplus commented on #68
Could you tell more about your use case? Do you try to use different merge strategy?

[2020-07-22 12:42] gcarrarom commented on #68
I'm just trying to patch a custom object:
[code]

But it's throwing me an error on the Content Type:

[code]

All I want to do is to patch the resource whith the changes coming in, that used to work fine when I used the default library.
Is there a different way I should be calling this method?

The manifest I'm sending is rather simple:
[code]

[2020-07-23 12:47] flyhighzy opened #108 "watch stream set timeout_seconds=0 not work"
as example code:
[code]
As I set timeout_seconds=0 here, expect no timeout, but got aiohttp's TimeoutError after 5 minutes.  I check the code and find in watch.py line 147, when got asyncio.TimeoutError, only when "timeout_seconds" not in func's keywords can continue, I'm expecting to have the same behavior when set timeout_seconds=0. :)

[2020-07-24 13:10] WoLpH opened #109 "close() in `Watch.stream()` not awaited"
It seems there's an `await` missing in front of the `close()` here:

https://github.com/tomplus/kubernetes_asyncio/blob/d6ec797a61d8bfad89549c3166d6ee78bed884e6/kubernetes_asyncio/watch/watch.py#L190

[2020-07-25 22:52] tomplus commented on #68
Thanks. As a workaround you can try to send list with [JSON Patch](http://jsonpatch.com/) instructions to modify your CRD. This nice library https://github.com/stefankoegl/python-json-patch creates such patches from differences between dicts.

[2020-07-25 23:21] tomplus commented on #109
Thanks for spotting this. I'm going to remove this instruction in the next release (it's redundant, aexit calls close()).

[2020-07-27 14:33] gcarrarom commented on #68
Thanks @tomplus ! That did work. I had to make sure to remove the patches I didn't want as the new manifest would not have the UID and the other information from the existing resource:
[code]
`api_response` is the response from the K8s api with the current resource.
`new_manifest` is the new manifest with the changes.

It's now working fine!

[2020-08-23 22:31] sonicaj opened #111 "Asyncio support"
Thank you @tomplus for working on this project. I was going through python clients for k8s and this suits my needs perfectly. However I wanted to ask how is this project maintained and is it safe to assume that we should expect upstream support ? ( it would be great btw if upstream k8s made this official as well )

My case is that we would like to use it but would also like to know if we should be

[2020-08-24 22:12] tomplus commented on #111
Hi @sonicaj I'm happy to hear that the library suits your needs. It’s maintained. It isn't official, but both libraries (this and the official) are generated by the Openapi-generator which has a huge community. I also backport bugfixes between libraries in both directions, stick to the official release number etc. to make it similar.

I encourage you to use it in your project. :+1:

[2020-08-24 22:59] sonicaj commented on #111
Thank you @tomplus for reaching back and for reassuring. We will go ahead then ; )

[2020-08-24 22:59] #111 closed

[2020-10-17 23:42] #109 closed

[2020-10-22 07:15] mnasiri opened #122 "'ClientResponse' object has no attribute 'get header'"
### This issue is seen when run my project with ver.12.0.0 of  kubernetes_asyncio which it was worked with ver. 11.3.0.
[code]

https://github.com/tomplus/kubernetes_asyncio/blob/6502fde25fbd0abe6f7ab6dce25bc5edd04f1126/kubernetes_asyncio/client/api_client.py#L191

to fix it, I change it to
`     content_type = response_data.headers.get('content-type')`

I use :
aiohttp==3.6.3
urllib3==1.25.11
Tha

[2020-10-22 10:33] tomplus commented on #122
@mnasiri Thanks for reporting this issue.

It appears when you call any methods with preload_content=False (eg. Watch() works in this way). I'll fix it ASAP.

[2020-10-22 22:47] tomplus commented on #122
It has been fixed in v12.0.1

[2020-10-22 22:47] #122 closed

[2020-11-02 16:37] hapatrick commented on #68
I have also been frustrated by this recently, specifically because the behavior differs from the official Python kubernetes client. There is a discussion here of why custom object patching in kubernetes-client works the way it does:

https://github.com/kubernetes-client/python/issues/866

So basically, it seems, kubernetes-client forces the caller to use application/merge-patch+json, where kuberne

[2020-11-02 22:54] tomplus commented on #68
Totally agree, patching in this library should work in the same way as in the kubernetes-client. I wasn't aware of the differences but as you noticed both behavior are problematic. I've started working on fixing both libraries (by extending openapi-generator) and your post gives me additional motivation to end it up. Thanks.

[2020-11-12 20:01] linkous8 opened #125 "Unsupported Media Type (HTTP 415) when patching custom resources"
Same issue as documented here: https://github.com/kubernetes-client/python/issues/866

See solution here: https://github.com/palnabarun/python/commit/f1cc695a6cd83234f6ab3ab3cdb2807214d2e328

Would you review/merge a PR if I were to submit one?

[2020-11-12 22:13] tomplus commented on #125
Hi @linkous8 It's already reported here: #68 I'm working on it now.

[2020-11-12 22:13] #125 closed

[2020-11-13 17:07] linkous8 commented on #125
whoops, guess I didn't scroll far enough :+1:

[2020-11-19 10:50] mickours opened #126 "Unclear error message when the kubeconfig is not found"
When `KUBECONFIG` is not set and the `~/kube/config` file does not exist, the `load_kube_config()` function fails with an unclear error message: `TypeError: argument of type 'NoneType' is not iterable`.

Here is full error stack trace:
[code]

[2020-11-22 22:22] #126 closed

[2020-11-25 09:34] horazont opened #128 "ApiClient.deserialize should be a function, not a method"
As far as I can tell, it does not use any attributes of the ApiClient.

The advantage of having it as function would be to have it available without needing to construct an ApiClient (as the Watch currently does). Normally, constructing an ApiClient would not be a problem. However, if one is in a non-async context, one cannot properly clean the client up and that will cause a warning ("asyncio: ER

[2020-11-25 23:57] tomplus commented on #128
Hi @horazont

I'm afraid this refactoring won't be easy. Serialize() calls __serialize() which uses some class attributes: https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/client/api_client.py#L304 And what's more it's auto-generated by openapi-generator so we have to change the generator first.

Other solutions which you can consider:

1. Use context manager with ApiCl

[2020-11-26 07:25] horazont commented on #128
Aha, I see. I scanned the methods *twice* for references to `self` beyond the calls to `__deserialize_*` and missed that. Sorry.

Yet, this would still work just the same if the methods were `@classmethod`, which had about the same effect. How hard would it be to teach that to the generator? Easier than breaking it out in a separate function/module I expect.

As a workaround, we’re currently doing

[2020-12-02 13:32] tomplus commented on #128
Changing generator is not an easy, especially if you want to be backward compatible.

Do you consider using `attribute_map`s ? Each model has it. For instance: https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/client/models/v1_pod_status.py#L51

I think, we can add a simple, general and static method to this library which takes object as input and returns dict using this

[2020-12-02 15:24] horazont commented on #128
That would effectively be a re-implementation of what ``__serialize`` does, which I suppose would be fine.

[2021-01-14 21:29] linkous8 commented on #68
This issue continues to frustrate me as well. I am able to workaround it for now but just wanted to add my +1

[kubernetes-client/python#866](https://github.com/kubernetes-client/python/issues/866)

[2021-01-14 22:09] tomplus commented on #68
There is a PR to track https://github.com/kubernetes-client/python/pull/959 - it's already prepared and wait for review.

[2021-02-13 22:09] JacobHenner opened #134 "Raise exception when watch returns an error"
In `kubernetes_asyncio/watch/watch.py`, there is a comment about raising an exception when a watch returns an error. Specifically:

https://github.com/tomplus/kubernetes_asyncio/blob/b33cde2519a5aebf8db22f3308af79885ad16d11/kubernetes_asyncio/watch/watch.py#L91-L96

However, this doesn't seem to have been implemented.

[2021-02-13 22:26] JacobHenner opened #135 "resource_version set incorrectly while watching list_* function"
Watch objects maintain a resource_version field to allow the watch to resume at the last observed point after a timeout. However, there is a bug preventing this from working as intended. Instead of tracking the resource_version of the list (from ListMeta), the field is updated with the resource_version of the resource object included in each event:

https://github.com/tomplus/kubernetes_asyncio/bl

[2021-02-13 22:34] JacobHenner opened #136 "Perform automatic retries for 410s during watches"
At this time, when a watch expires (with a 410 Gone) the watcher returns an "error" event to the caller. Instead of returning a raw error event, it should attempt to resume the watch (as it would after a timeout). If that fails, it should raise an exception.

A similar change has been incorporated into the kubernetes-client/python library: https://github.com/kubernetes-client/python-base/pull/133

[2021-02-14 01:17] tomplus commented on #135
Hi @JacobHenner

Using the resource version was also discussed in the official library: https://github.com/kubernetes-client/python/issues/819

We can use the resource version as you suggest and implement the list-and-watch pattern but the question is if we can use a resVer from arrived events to implement list-watch-watch-... pattern?

IMO bookmarks can be use to some optimization only. Watch sho

[2021-02-14 01:48] JacobHenner commented on #135
I'll try to look at these three issues tomorrow.

I'll take a look at the Go library to see how it is handled there. Perhaps that'll be helpful.

Indeed, I will keep this in mind.

[2021-02-14 04:01] JacobHenner opened #137 "Watch event can cause aiohttp ValueError: Line is too long"
As reported in https://github.com/aio-libs/aiohttp/issues/4453, aiohttp's default input stream buffer size is insufficient for some Kubernetes watch event lines. When such a line is transmitted to the client, watch.py raises a `ValueError: Line is too long`.

In aiohttp 3.7.0 (https://github.com/aio-libs/aiohttp/pull/5065), support for configuring the buffer size was added. `read_bufsize` can be s

[2021-02-14 19:00] JacobHenner commented on #135
So after conducting some more research[1], it seems as if the client-go library maintains a distinction between watches and informers. The former is the low-level operation, the latter is a high-level abstraction that wraps a watch and provides a cache, handles watcher reconnection, etc. This concept does not exist in the OpenAPI-derived libraries by default, although some of them (such as the [go

[2021-02-15 04:43] JacobHenner commented on #136
I'm not sure I still agree with the change proposed originally. I'm going to think about it some more, and will update this issue once I have a better idea of what the desired behavior is (see discussion in the see also links).

[2021-02-15 04:52] JacobHenner commented on #135
I've written a small proof-of-concept informer-like wrapper. I have to finish adding some features and testing the implementation before sharing, but perhaps it'd be useful here. So far it has support for bookmarks, reconnections on 410s, and caching. The cache is used to avoid replaying or missing events that occurred between the time a watch went invalid and the time a replacement watch was star

[2021-02-15 04:53] JacobHenner commented on #137
Closed by #138

[2021-02-15 04:53] #137 closed

[2021-02-15 11:03] tomplus commented on #135
Informer sounds as a really good idea. It looks it's the only way to handle reconnection, using resource version properly without notifying about the same events. IMO it should be a part of the library as a go-client has it. I'm also not sure if its possible to create one solution for both libraries. I'm afraid it has to be ported/synced manually from one to another as we port Watch() and other co

[2021-02-15 22:59] JacobHenner commented on #135
So far I've implemented an informer-like wrapper which handles 410 Gone reconnections, bookmarking, and basic event-handling. I'm still working to figure out how closely to align it with the Informer implementations in the client-go, Java, and OpenAPI go libraries. Both client-go and the Java have complex implementations with many abstractions. I'm not yet sure the extent to which that's necessary

[2021-02-22 01:03] JacobHenner commented on #135
Didn't have as much time as I hoped to work on this over the week. Will send something over once ready. My initial implementation has been focused on increasing reliability and providing an informer-like object with similar but not exactly the same semantics as client-go. It's possible that some of the changes introduced should be moved into the watcher itself. I'll comment on the PR in those plac

[2021-03-11 18:39] ChriZiegler opened #142 "Implement create_from_dict"
The main kubernetes client has a useful function in utils called [`create_from_dict`](https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py). This function is absent in kubernetes_asyncio, but would be very useful, particularly in the case where you want to create a resource from yaml template and change some values in it, without needing to save the altered

[2021-03-12 16:06] tomplus commented on #142
@ChriZiegler It should be the same as in the main client. I'll fix it over the weekend. Thanks.

[2021-03-21 12:18] #142 closed

[2021-03-24 16:06] ChriZiegler commented on #142
@tomplus Thank you so much! Do you know when this will be available on PyPi?

[2021-03-25 00:56] tomplus commented on #142
Sorry for the delay. It's already released.

[2021-04-17 22:28] JacobHenner commented on #135
Apologies for not providing an implementation sooner, my priorities have changed and I haven't had much time to work on this.

I've published an initial implementation of my idea in a separate project, since I'm not certain of which parts should be included in the library's Watch class, and which should remain separate. It can be reviewed [here](https://github.com/JacobHenner/kubernetes_asyncio_in

[2021-05-03 23:36] tomplus commented on #135
Thanks for your reply.

I agree with you, the part of your library related to the Watch can be moved here to fix the base library - better reconnect handling, supporting bookmarks etc. The informer implementation can be developed as a separate library.

Let me know if I can help in any way.

[2021-07-12 13:57] mickours opened #150 "401 Error not catch properly while watching"
I have a code that constantly watch a deployment status but with EKS on AWS I get a 401 error after 15 min. This is an issue with EKS I'm trying to solve by reloading the configuration and I would like to have a proper exception to be able to do so. But the code is currently trying to parse a JSON field which is not there and raise:
[code]

The entire stack trace is:
[code]

[2021-07-16 20:33] #134 closed

[2021-07-21 14:57] poul1x opened #152 "Incorrect output when using `read_namespaced_pod_log`"
I see incorrect output when using `read_namespaced_pod_log`.

Example yaml:

[code]

`kubectl` (expected) output:

[code]

code:

[code]

`read_namespaced_pod_log` output:
[code]

When I echo from pod something like this: `'==={"a": "b"}'`, that behaviour is not triggered.

**OS**: linux debian 10
**Python version**: 3.7
**kubernetes-asyncio version**: 12.1.0

[2021-07-24 02:12] weltonrodrigo commented on #152
This happens because the line is unmarshaled in https://github.com/tomplus/kubernetes_asyncio/blob/89944de1b3ff87527bb2e6639bcd96cc119cc647/kubernetes_asyncio/watch/watch.py#L79

A line beginning with a number breaks this method too.

[2021-07-24 23:08] tomplus commented on #152
This library tries to decode json data from K8s response. If data is in json format you will get a decoded structure. When you print the log you will get this structure dumped by python and format is different. I'm afraid we can't change it easily (backward compatibility) but as a workaround you can try to add `_preload_content=False` to skip this deserialization and get raw data.

[code]

@welton

[2021-07-25 12:25] poul1x commented on #152
Ok, thank you

[2021-07-25 12:25] #152 closed

[2021-07-27 15:01] pydo commented on #150
I still encounter this error after watching a GKE cluster for about 10-15mins with the hotfix `v12.1.1`.

[code]

[2021-07-27 19:55] tomplus commented on #150
@pydo confirmed... sorry. The next hot fix is on the way

[2021-07-27 20:59] #150 closed

[2021-07-30 19:11] pydo commented on #150
Thanks for the quick fix :bow:

[2021-08-26 08:58] felixhuettner opened #155 "Update to kubernetes api version 1.18"
Hi everyone,

The upstream kubernetes python project now supports kubernetes 1.18. It would be great if `kubernetes_asyncio` could support that as well.

If its just regenerating the client with a new k8s version then i could do that as well, but i was not sure about that.

Best Regards

[2021-08-28 08:28] jonathon-love opened #156 "ClientPayloadError occasionally thrown when iterating a watch"
i do get a ClientPayloadError from time to time:

[code]

cheers

[2021-08-28 21:19] tomplus commented on #156
Is it self-hosted cluster or provided by Google/AWS/Azure? Could you check if `kubectl` works longer without the issue?

[2021-08-28 22:58] tomplus commented on #155
Absolutely! The library has to be updated. Usually it's not complicated but I haven't done it for a long time and I'm afraid that some  issues may appear. I'll do it soon.

[2021-08-28 23:36] jonathon-love commented on #156
this is on a self-hosted microk8s cluster. are you suggesting i try running the same watch with `kubectl`? i didn't know kubectl could perform watches. could you point me to some docs if so?

with thanks

[2021-08-30 06:33] tomplus commented on #156
There is a flag `--watch` to watch for changes, for example:

    `kubectl get pods --watch`

[2021-08-30 06:36] jonathon-love commented on #156
righto, i'll take a look. regardless, should the `aiohttp.client_exceptions.ClientPayloadError` be wrapped? (i'm not sure, i can see arguments both ways)

[2021-08-30 21:53] tomplus commented on #156
How long is it working without raising the exception?

I'm also not sure what to do... we can treat it as "timeout" and silently reconnect but on the other hand such behavior may hide some errors in other case.

[2021-09-03 11:27] caffeinism opened #157 "wrong behavior with patch custom object"
kubernetes version: 1.18.5
kubernetes_asyncio version: lastest

in kubernetes_asyncio
[code]

in kubernetes official python library
[code]

expect the same behavior, but get an error on kubernetes_asyncio.

error
[code]

Is this a version compatibility issue with kubernetes?

[2021-09-03 23:35] tomplus commented on #157
No, it's a known issue - openapi-generator doesn't support some type of patch which are used by K8s. Libraries work differently as you noticed.

I close this issue, please watch #68

[2021-09-03 23:35] #157 closed

[2021-09-05 23:17] tomplus commented on #155
I've just released new version of the library - v18.20.0, which is based on K8s 1.8. Enjoy ;)

[2021-09-05 23:17] #155 closed

[2021-09-06 06:13] felixhuettner commented on #155
Thank you very much :)

[2021-09-17 04:12] jonathon-love commented on #156
i haven't tested exhaustively, but it doesn't look like kubectl lasts longer.

it works for quite some time. i think this might typically result in about 4 pod restarts in 24 hours.

yeah. ideally we can clear tell between exceptions we expect, and those we don't. something like:

[code]

with thanks

[2021-11-11 14:32] RuiLoureiro opened #165 "list_pod_for_all_namespaces throws Unauthorized"
I'm trying to list the pods in a kubernetes cluster that I'm connected to using a VPN.
Running `kubectl get pods --all-namespaces` works fine.

Calling `list_pod_for_all_namespaces` with the synchronous library (`kubernetes`) also works:
[code]

When using `kubernetes_asyncio`, I get the following error:
[code]
[code]

Thank you

[2021-11-12 00:30] tomplus commented on #165
Thanks for reporting the issue.

It is self-hosted cluster or hosted by a cloud provider? Could you show your kubeconfig masking some sensitve data (certs, IPs etc.)?

[2021-11-12 10:27] RuiLoureiro commented on #165
It's provided by Azure.
Here's my kubeconfig:
[code]

[2021-11-12 11:24] tomplus commented on #165
Sorry, authentication to Azure AKS is not supported yet, https://github.com/tomplus/kubernetes_asyncio/issues/31

[2021-11-12 12:45] RuiLoureiro commented on #165
Ah, I see. Sorry, I missed that issue.

[2021-11-12 12:45] #165 closed

[2021-11-29 09:52] svinther opened #167 "Missing kubernetes.config.load_kube_config_from_dict()"
Hello,

To be able to call multiple clusters I rely on configuring the client by getting a kubeconfig from Azure AKS rest management api, and then configure kubernetes client with the function kubernetes.config.load_kube_config_from_dict()

As I would like to use this asyncio client to replace some parts, I noticed with some sadness that this function is missing.

The function header is:
[code]

[2021-11-29 20:35] linkous8 commented on #68
First off, a huge thank you to @tomplus for his ongoing work to resolve this issue. In the meantime, I've found a somewhat ugly workaround that can be used in the interim. It turns out these headers can be set using [`ApiClient.set_default_header`](https://github.com/tomplus/kubernetes_asyncio/blob/5f4a80b40b5f520b27b808aa0556577b4189166a/kubernetes_asyncio/client/api_client.py#L118) which will [o

[2021-11-30 07:34] tomplus commented on #167
I'll add it soon.

[2021-11-30 08:16] svinther commented on #167
Great news, I will look out for it. Thanks @tomplus

[2021-12-02 08:49] Qubad786 opened #170 "Malformed JSON response, the 'object' and/or 'type' field is missing in JSON"
Steps to reproduce
----
1. Create a pod which is stuck in initialization e.g.
[code]

2. Make sure its in `PodInitializing`:
[code]

3. k8s client snippet that results in a bare exception:
[code]

Actual behavior:
-----
[code]

Expected behavior:
-----
A meaningful exception scheme that can be handled by calling body to extract information and present to the end user

Thanks!

[2021-12-02 19:19] #167 closed

[2021-12-02 20:12] tomplus commented on #167
@svinther The function is available in v18.20.1.

[2021-12-02 21:18] tomplus commented on #170
Thanks for reporting it.

[2021-12-06 13:02] felixhuettner opened #171 "Update to kubernetes api version 1.21"
Hi everyone,

The kubernetes python project now supports kubernetes 1.19, 1.20, 1.21. It would be great if kubernetes_asyncio could support that as well.

Thank you

[2021-12-10 23:57] tomplus commented on #171
Version 19.15.0 with support for K8s 1.19.15 has been released.

[2021-12-21 12:00] horazont opened #174 "Add example for using the exec endpoint"
The synchronous version of this package has [the `pod_exec.py` example](https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py). I have tried to replicate the same with kubernetes-asyncio, but it's not clear to me how. The following does not seem to work:

[code]

It fails with:

[code]

It would be good to have a working reference example which uses the exec endpoint to run

[2021-12-21 13:11] tomplus commented on #174
There is an example `examples/example3.py` with the exec command. Could you check if it works for you?

[2021-12-21 13:15] horazont commented on #174
It works! I didn't find it because I was grepping the installed package, not the original source :/. My fault. I'll play with that, thanks!

[2021-12-21 13:15] #174 closed

[2022-01-04 17:36] athornton commented on #12
Oof.  This is biting me as I try to get the test suite working for a kubernetes_asyncio-based JupyterHUb Kubespawner.  I'll see if I can figure any of that out.

[2022-01-28 23:05] athornton opened #176 "watches still deserialize with _preload_content=False"
That appears to be a consequence of   https://github.com/tomplus/kubernetes_asyncio/blob/f2b270df403df49798de70b93b84abd21d1db5f9/kubernetes_asyncio/watch/watch.py#L204

I'm aware that I can get the dict_representation from raw_object, but my concern is performance rather than ease of representation.

The context is: I'm trying to replace the K8s API implementation in JupyterHub's Kubespawner with

[2022-01-30 21:24] tomplus commented on #176
It looks like KubeSpawner does a little hack to skip the deserialization - it wraps methods using `partial()` so Kubernetes client cannot detect the type of object and returns only raw response. Kubernetes-asyncio is not ready for such trick and raises an exception, as you noticed [here](https://github.com/lsst-sqre/kubespawner/pull/2/files#diff-23f3b56e5e9b6c8e67401eab22ce6a30ccfdfe9a2979bea23d33

[2022-02-02 23:20] #176 closed

[2022-02-02 23:36] tomplus commented on #176
I've just released v19.15.1 with the fix.

[2022-02-07 03:15] remram44 commented on #136
I ran into this. I am trying to fix the bug, but it is hard to validate a fix since it takes a long time before a 410 gets returned by Kubernetes. An automatic retry in kubernetes-asyncio would be appreciated, especially since the sync kubernetes client has it.

[2022-02-22 20:43] spolcyn commented on #68
@linkous8 Thanks for your workaround here -- when I used this, I needed to use `Content-Type` instead of `content-type` per the naming of the variable here: https://github.com/kubernetes-client/python/blob/master/kubernetes/client/api/custom_objects_api.py#L2427

[2022-03-08 12:27] devlounge commented on #171
Any update on this?

[2022-03-08 20:58] tomplus commented on #171
@devlounge which version do you need most?

[2022-03-08 22:12] devlounge commented on #171
1.21.9 ideally

[2022-03-09 23:58] tomplus commented on #171
Two versions have been released - v20.13.0 (K8s 1.20.13), v21.7.0 (K8s 1.21.7) - the same values as in the official Python library.

I can generate 1.21.9 but i don't see any API changes between 1.21.7 vs 1.21.9. Could you check if v21.7.0 is enough in your case.

[2022-03-10 12:59] devlounge commented on #171
No that’s perfect as long as it’s 1.21.x
Thanks!

[2022-03-10 13:02] consideRatio opened #183 "Regression via recent code regeneration"
It seems that #181 that re-generated the python code base reverted #123.

#123 seems to be a fix to the generated code base, and was therefore reverted by #181.

https://github.com/tomplus/kubernetes_asyncio/blob/da1e3172acd098e5feb47193bd9d73428078b61a/kubernetes_asyncio/client/api_client.py#L191

[2022-03-10 13:20] tomplus commented on #183
Sorry, my bad. I'm fixing it now.

[2022-03-10 13:25] #183 closed

[2022-03-10 13:28] tomplus commented on #183
Fixed in v21.7.1.

[2022-03-10 13:49] consideRatio commented on #183
@tomplus :heart: :tada: thank you for your work with this project!

[2022-03-19 06:42] jonathon-love opened #187 "Permissions issues in the 22.6.0"
hi,

i've been happily using kubernetes_asyncio for a while now on a microk8s v1.21.10 cluster, but i recently had a container having permissions issues when executing a watch on persistent volumes:

[code]

after tinkering for a while, i traced the issue back to the recent 22.6.0 release of kubernetes_asyncio ... if i roll back to an earlier version of kubernetes_asyncio, everything works again.

[2022-03-20 00:42] tomplus commented on #187
Do you watch PVs from the pod or from outside the cluster? Do you use this function: CoreV1Api.list_persistent_volume?

Could you provide steps to reproduce? I tried something on my minikube but with no luck.

[2022-03-20 03:58] jonathon-love commented on #187
yeah, so this is from within a pod inside my cluster.

i basically go:

[code]

is that enough to go on? i can whip you up a reproducible example if you need (but i'm obviously lazy and trying to avoid that :P).

with thanks

[2022-03-20 20:31] tomplus commented on #187
I did some tests and it works on my site. I use minikube with k8s v1.21.10, kubernetes-asyncio 22.6.0. I'll check it on microk8s later.

[2022-03-21 08:25] k8sdevlk opened #188 "EKS with idrsa integration auth issue"
Auth issue with your client code and not sure how to fix it.

OS: MacOS Bigsur
Python: 3.9

Using included example code:

---------------------------
import asyncio
import logging

from kubernetes_asyncio import client, config

async def main():
    await config.load_kube_config()
    v1 = client.CoreV1Api()
    print("Listing pods with their IPs:")
    ret = await v1.list_pod_for_all_namespaces()

[2022-03-21 08:37] tomplus commented on #188
Thanks for your report. Could you provide your kubeconfig (without IPs, certs and passwords)? Which version of K8s do you use?

[2022-03-21 16:15] k8sdevlk commented on #188
I have another question related to "watch" - does it handle reconnection if it gets disconnected for various reasons and is it indefinite connection or specific timeout built in?

[2022-03-21 19:49] JacobHayes commented on #187
This issue may be related: https://github.com/dask/dask-kubernetes/issues/419. I get:
[code]
when accessing k8s (version 1.21.9-gke.1002) with managed `google-cloud-sdk` auth  (application default credentials):
[code]

Downgrading to `kubernetes-asyncio==21.7.1` fixed things.

[2022-03-21 19:57] tomplus commented on #187
Thanks for your input. It maybe related but there are 2 differences:
1. in-cluster config vs remote cluster (via kubeconfig witth gcloud command)
2. error code 401 vs. 403

I'm still investigating...

[2022-03-21 20:46] tomplus commented on #188
Could you try to downgrade to kubernetes-asyncio==21.7.1? There is similar issue where downgrade to previous version helps (https://github.com/tomplus/kubernetes_asyncio/issues/187#issuecomment-1074347550).

[2022-03-22 02:00] k8sdevlk commented on #188
Downgrading to 21.7.1 works fine!

Thank you.

[2022-03-22 07:56] consideRatio opened #189 "Request for additional details in CONTRIBUTING.md"
Before I observed a regression in v21 (https://github.com/tomplus/kubernetes_asyncio/issues/183) and were happy to see this didn't happen in v22 as well, but it left me curious to understand more how this codebase works which would also help me and others contribute to it.

Practically, I wondered if CONTRIBUTING.md could be enhanced with some more details to provide understanding about  the code

[2022-03-22 23:17] tomplus commented on #187
It should be fixed now. Could you try with the latest version 22.6.1? Thanks.

[2022-03-22 23:18] tomplus commented on #188
@k8sdevlk It should be fixed now. Could you try with the latest version 22.6.1? Thanks.

[2022-03-23 00:32] jonathon-love commented on #187
it works!

[2022-03-23 00:32] #187 closed

[2022-04-02 14:55] GlassOfWhiskey opened #193 "Allow for configurable heartbeat in WsApiClient request method"
When running long commands without intermediate output through the WsApiClient, the connection is closed after timeout.
To correct this error, a custom heartbeat parameter can be passed  to the `ws_connect` method of the `rest_client.pool_manager` attribute in the `request` method of the `WsApiClient` object (lines 80 and 94 of the `stream/ws_client.py` file). Something like:

[code]

It would be

[2022-04-02 20:37] tomplus commented on #193
It sounds good to me. Are you going to add a pull-request with it?

[2022-04-02 20:39] tomplus commented on #188
I assume that the problem is solved, please reopen if necessary. Thanks.

[2022-04-02 20:39] #188 closed

[2022-04-03 06:27] GlassOfWhiskey commented on #193
Hi @tomplus. Yes I have no problems in creating a PR.
I've read the Contribution guidelines but it is not clear to me how to proceed. The document says that I should sign a Contributor License Agreement as stated "above" but there is no "above" in the document. Plus, I don't know if I only have to submit the change or if I should also add some kind of no regression test somewhere.
BTW I will start

[2022-04-03 07:30] GlassOfWhiskey opened #194 "Make InClusterConfigLoader support explicit config parameter"
Configuration related classes `KubeConfigLoader` and `InClusterConfigLoader` behave differently in the `load_and_set` method. The first one requires an external `Configuration` object, which can be either automatically generated or passed explicitly by the user in the `load_kube_config` function.
Conversely, the `InClusterConfigLoader` only supports the automatically generated default `Configurati

[2022-04-03 07:30] GlassOfWhiskey commented on #194
I have no problems in providing a PR also for this issue if needed.

[2022-04-03 23:04] tomplus commented on #193
I've just updated the contribution guide.

Yes, please add tests. IMO unit-tests would be enough in this case, I guess e2e tests may be more complicated.

I'm looking forward to your PR.

[2022-04-03 23:11] tomplus commented on #194
Thanks for reporting this. Your proposed fix looks good to me. It'd be fantastic if you could work on it.

[2022-04-04 22:43] #194 closed

[2022-04-04 22:44] #193 closed

[2022-04-08 11:09] paxbit opened #197 "CRD API No Longer Supports Watch Bookmarks"
Hi,

#185 seems to have removed support for watch bookmarks for custom objects, which currently breaks our application.

See:
https://github.com/tomplus/kubernetes_asyncio/commit/2d0452d52ffff8b2c0ce1f07d86bd502cfbf4529#diff-7ca22d542e5e2fc5a31472bd4643aa4db732e8666e7b4bba4acd0a123aeb389b

I believe this is a bug. However as I'm not familiar with the details of the client generation process I cann

[2022-04-08 12:14] tomplus commented on #197
Sorry to here that. AFAIK, bookmarks have never supported by the library so maybe the spec forces it somehow...

Could you share more information? What exception do you get? How do you use Watch()? Which version of K8s do you use?

[2022-04-08 18:57] paxbit commented on #197
Hi @tomplus,

Thank you for you quick reply!

We're on kubernetes 1.23.2.

To reproduce it yourself you could first create the following CRD manually, then run the script below:
Note: As an aside and probably another issue, which so far I have not created, I could not find a way to create the CRD itself using kubernetes_asyncio. Is there a way, which does not involve calling `call_api` directly?

[2022-04-09 00:37] tomplus commented on #197
Thanks for detailed information, it helps a lot.

I can confirm that the latest version of the library was generated using the old CRD spec and the attribute "allow_watch_bookmarks", which you use, is missing. It's my mistake, I used a stale branch :man_facepalming: when I was working on switching to the new generator.

[2022-04-09 00:38] #197 closed

[2022-04-09 00:41] tomplus commented on #197
Fixed in v22.6.4.

[2022-04-12 07:14] jonathon-love opened #199 "peculiar behaviour ... V1Pod vs dict"
hi,

i'm puzzled by something of a riddle.

if i go:

[code]

however, if i go:

[code]

can anyone explain why it's `V1Pod` in one situation, but `dict` in the other?

with thanks

[2022-04-12 07:25] jonathon-love commented on #199
haha, noodling through the source, i see what's happening ... but you gotta admit it was a good riddle :)

[2022-04-12 07:42] tomplus commented on #199
Yes, it uses methods' docs to detect a return type. When you use `partial` it can't do this.

[2022-04-12 09:38] paxbit commented on #197
Awesome, Thanks for the timely fix :) It's working now.

[2022-04-12 09:47] paxbit opened #200 "Question: Way to Create New CRD?"
Hi,

I was looking at the docs as well as:
https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/client/api/custom_objects_api.py
and was wondering if kubernetes_asyncio supports creation of CustomResourceDefinitions. I can find the `V1CustomResourceDefinition` mapping class but the way I see it the corresponding API methods are missing.

I can CRUD the concrete custom objec

[2022-04-12 22:31] tomplus commented on #189
Thanks for your kind words.

I've updated the Contributing guide.

The generation process has to be fully automatic. No manual patches, I took shortcuts last time and we know how it's ended ;)

[2022-04-14 18:00] paxbit commented on #200
Hi,

from the looks of it I think it will. Will try, thanks!

[2022-04-16 00:00] consideRatio commented on #189
Thank you @tomplus!!

[2022-04-16 00:00] #189 closed

[2022-04-16 00:12] consideRatio opened #201 "The packaged PyPI package is only a source distribution - no wheels included"
I saw that PyPI only includes a source distribution of this package, can we make it provide a wheel as well?

Here is an example on how to go about this using the `build` package as common nowdays instead of the old `python setup.py bdist_wheel`: https://github.com/jupyterhub/batchspawner/blob/master/.github/workflows/python-publish.yml.

For more details on wheels, see https://realpython.com/pyth

[2022-04-18 21:08] tomplus commented on #201
Definitely it's worth to do it.

[2022-04-18 21:32] tomplus commented on #201
I've prepared and uploaded the wheel for version 22.6.4

[2022-04-18 21:32] #201 closed

[2022-04-18 22:02] consideRatio commented on #201
@tomplus :tada: wieee thank you for your attention and care of this project!!

[2022-04-18 22:03] consideRatio commented on #201
Would you like a PR with automation to do it in a GitHub Workflow?

[2022-04-18 23:03] tomplus commented on #201
Yes, it would be nice. Thanks in advance.

[2022-05-03 15:26] GenPage opened #203 "EKS auth issues using exec provider and aws eks get-token"
Hello, I'm attempting to do some local development with this library and have been unable to auth with my test EKS cluster.

OS: Mac Monterey
Python: 3.9.11
Library version: 22.6.4

I am just using example code to list pods, in fact this issue seems very similar to #188 but I am getting a 401 instead of a 403 and unable to auth with the cluster at all.

My local kubectl commands auth just fine. I

[2022-05-03 22:59] tomplus commented on #203
Strange. No errors from the kubeconfig loader, so it looks like the response from `eks` command is interpreted correctly. I don't have access to eks cluster right now. Could you verify if token is used by printing the value of `client.configuration.api_key['BearerToken'])`? Thanks.

[2022-05-04 02:38] GenPage commented on #203
`client.configuration.api_key` threw some errors for me so I had to use `api.configuration.api_key` instead and it does return a token.

[code]

[2022-05-04 07:11] tomplus commented on #203
To check if source of the problem is connected with the issue #188, could you downgrade the library to 21.7.1?

[2022-05-04 14:35] GenPage commented on #203
It is still the same error.

[code]

[code]

[2022-05-09 14:50] GenPage commented on #203
@tomplus I apologize but I didn't properly test earlier since I was using a custom user in my kube_config with the direct token pasted.

It does indeed work/auth properly using the exec provider + `aws eks get-token` in 21.7.1

[2022-05-23 16:14] kafonek opened #207 "Refresh service account token periodically"
Thank you for working on this project, I appreciate using `kubernetes_asyncio.py`.

When using Python to talk to the Kubernetes API from within a Pod/container, `kubernetes.py` will periodically refresh/reload the service account token it is using, per https://github.com/kubernetes-client/python/issues/741 (closed by https://github.com/kubernetes-client/python-base/pull/250). Their original use ca

[2022-05-23 20:01] tomplus commented on #207
Thanks for kind words :)

I know that one of the contributor is working on it here https://github.com/tomplus/kubernetes_asyncio/pull/205 I'm sure that it will be resolved soon.

[2022-05-24 21:05] tomplus commented on #207
It's released in v22.6.5.

[2022-05-24 21:05] #207 closed

[2022-06-15 03:57] dcecile commented on #171
Kubernetes v1.23 includes new official HPA APIs: https://kubernetes.io/blog/2021/12/07/kubernetes-1-23-release-announcement/#horizontalpodautoscaler-v2-graduates-to-ga

(HPA v2beta1 is being removed in [v1.25](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#horizontalpodautoscaler-v125), and v2beta2 is being removed in [v1.26](https://kubernetes.io/docs/reference/using-api/deprec

[2022-06-15 15:35] devlounge opened #209 "dynamic.DynamicClient"
Any plan to have dynamic.DynamicClient ?

[2022-06-16 22:26] tomplus commented on #209
Yes, it's on my TODO list.

[2022-06-17 23:42] tomplus commented on #171
I've just released version 23.6.0 which is based on API K8s 1.23.6.

[2022-06-17 23:51] dcecile commented on #171
Thanks! :pray:

[2022-07-29 20:46] tomplus commented on #200
I'm closing it now. Please feel free to reopen if needed.

[2022-07-29 20:47] #200 closed

[2022-07-31 23:32] tomplus commented on #171
The latest released version is the same as official client - v24.2.0.

[2022-07-31 23:32] #171 closed

[2022-08-02 23:30] tomplus commented on #203
I'm closing it now, it has been fixed in v22.6.1. Feel free to reopen if it doesn't work for you.

[2022-08-02 23:30] #203 closed

[2022-08-15 13:16] mcreng opened #215 "watch.stream no longer works with apis with follow kwarg"
This is a regression of #98, possibly coming from commit 2d0452d52, which changed the docstring of the methods from

[code]

to

[code]

causing

https://github.com/tomplus/kubernetes_asyncio/blob/65ce783fc3f015f9e464a90c028b902b58023c9b/kubernetes_asyncio/watch/watch.py#L24

and

https://github.com/tomplus/kubernetes_asyncio/blob/65ce783fc3f015f9e464a90c028b902b58023c9b/kubernetes_asyncio/watch/w

[2022-08-16 22:09] tomplus commented on #215
Good point. Thanks for your investigation. Could you send a PR to fix it?

[2022-08-17 21:31] #215 closed

[2022-08-22 10:42] ChrisLovering opened #217 "Config reader does not support bool types"
Using version 24.2.1, given a kube config such as the below
[code]

[This line](https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/config/kube_config.py#L365) will error, due to what I think is the [`safe_get`](https://github.com/tomplus/kubernetes_asyncio/blob/master/kubernetes_asyncio/config/kube_config.py#L407-L410) in the custom [`__getitem__`](https://github.com/tomp

[2022-08-22 22:03] tomplus commented on #217
Thanks for reporting this issue. I'm working on it.

[2022-08-22 23:07] #217 closed

[2022-09-14 18:27] benthomasson opened #219 "Errors in example2"
Errors occur in example2 during loop shutdown due to open clients.

[2022-09-14 18:28] benthomasson opened #220 "utils.create_from_yaml extends a list when it should be appended."
When errors happen in utils.create_from_yaml another exception is thrown when the error is incorrectly added to a list.  Append should be used instead of extend.

[2022-10-12 15:32] hrichardlee opened #223 "shlex.split is causing google_auth_credentials to fail on Windows"
This is similar to #110

On Windows, with a GKE config as the default, if you run:

[code]

it will fail with:

[code]

The problem is that `provider['cmd-path']` is `C:\Users\<username>\AppData\Local\Google\Cloud SDK\google-cloud-sdk\bin\gcloud.cmd` which has a space in it, so it's being split up into two parts by `shlex.split`.

A suggested fix is available at https://github.com/tomplus/kubernet

[2022-10-12 22:05] tomplus commented on #223
Yes, please open the pull request. It has to be fixed as you suggest. Thanks.

[2022-10-12 22:07] hrichardlee commented on #223
Thanks! Opened the pull request

[2022-10-21 17:00] mattjudge opened #226 "Example for connect_get_namespaced_pod_portforward"
It would be extremely useful to have an example use of `connect_get_namespaced_pod_portforward`.

I see https://github.com/tomplus/kubernetes_asyncio/blob/master/examples/example3.py contains an example for `connect_get_namespaced_pod_exec`, but it's not clear how to send a port forwarded request to the pod.

[2022-10-21 20:46] tomplus commented on #226
Unfortunately it's not supported by the library yet.

[2022-11-05 18:27] murali038 opened #227 "Watch.stream() is not setting follow param for read_namespaced_pod_log"
As part of API K8s v23.6.0 #211, the documentation has been updated and as per latest docstring of `read_namespaced_pod_log`

[code]
but the global variable PYDOC_FOLLOW_PARAM is still set as `:param bool follow:` which needs updation

[2022-11-05 18:40] murali038 commented on #227
Sorry my bad my venv had older version installed. i didn't realize that. this is fixed as part of #216 . Sorry for the confusion. i will close it

[2022-11-05 18:40] #227 closed

[2022-11-05 22:43] tomplus commented on #227
No worries! By the way, thanks for your engagement in the library.

[2022-11-05 23:33] murali038 commented on #227
Thank you so much Tom! so stupid of myself
--Murali
    On Saturday, November 5, 2022 at 06:43:27 PM EDT, Tomasz Prus ***@***.***> wrote:

No worries! By the way, thanks for your engagement in the library.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you modified the open/close state.Message ID: ***@***.***>

[2022-11-06 11:57] funes79 opened #228 "EKS auth issue - anonymous user"
Hi, in this issue #188 it was stated that the problem should be fixed but in version 24.2.2 I got an error:
[code]

[code]

when I downgrade the version to 21.7.1 then it works:
[code]

[2022-11-06 22:37] tomplus commented on #228
Hi @funes79, yes there is a breaking change in version >=22.x

Could you try to use "BearerToken" instead of "authorization":

[code]
?

[2022-11-14 21:06] PseudotsugaMenziesii opened #229 "Question: Proper multi-cluster implementation"
The examples were very helpful with respect to demonstration of asyncio with one cluster. I've tried making an implementation that asynchronously connects to multiple clusters using different kubeconfig files. However, it looks at though the calls aren't releasing the thread to truly make it async.

I'm hoping I'm just doing something dumb, but I cant figure it out. Would this be an appropriate wa

[2022-11-14 23:41] tomplus commented on #229
Hi @PseudotsugaMenziesii

Your script is 100% correct. I guess the problem is with big responses from K8s API Servers. If there are dozens of pods, your script has to parse a big json response. Operation like deserialization, constructing objects etc. are synchronous and other coroutines have to wait...
You can confirm it by querying something smaller e.g using a selector to limit the response siz

[2022-11-15 18:17] PseudotsugaMenziesii commented on #229
Thanks for the confirmation, @tomplus. I added a label selector for a non-existent label. Looking like the expensive `list_pod_for_all_namespaces` without a decent selector is my issue.

Thanks for the help!